body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffa688;
    font-family: Arial, sans-serif;
    transition: all 0.3s;
    gap: 35px;
}

.pruduct{
    display: flex;
    align-items: center;
    background-color: #e3e2e2;
    justify-content: center;
    padding: 20px ;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    transition: all 0.3s;

}
.pruduct:hover{
    transform: translateY(-7px);
    box-shadow: 0 5px 25px rgba(78, 78, 78, 0.9);
}
.pruduct img{
    width: 100%;
    height: 220px;
    box-shadow: 0 5px 20px rgba(60, 118, 233, 0.9);
    border-radius: 5%;
    
}
.pruduct h3{
    margin: 0;
    color: rgb(0, 0, 0);

}
.pruduct .stock{
    color: red;
    margin: 0;
    font-size: 20px;
    text-decoration: line-through;
    
}
.pruduct .kkhat {
    color: red;
    font-size: 20px;
    text-decoration: underline;

}

.pruduct .sad{
    font-size: 19px;
    margin: 0;
    color: black;

}

.pruduct button {
    background-color: steelblue;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
    box-shadow: 0 5px 20px rgba(64, 100, 219, 0.9);
}

.pruduct button:hover {
    background-color: tomato;
    transform: translateY(-6px) scale(1.1) translateZ(10px);
    box-shadow: 0 5px 20px rgba(174, 50, 50, 0.9);
}

.pruduct button:active {
    background-color: crimson;
    transform: translateY(6px) scale(0.9);
    box-shadow: none;
}
.light-cont {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    background-color:transparent;
    transition: all 0.3s;
    width: 110px;
    height: 110px;

}
.light-button {
    background-color: rgb(160, 160, 160);
    padding: 50px 50px;
    font-size: 24px;
    border-radius: 100%;
    transition: all 0.3;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.light-button:hover{
    transition: all 0.3s ;
    transform: translateY(-5px) scale(1.03);
}
.light-button:active{
    transition: all 0.3s;
    background-color: rgb(80, 80, 80);
    transform: translateY(5px) scale(0.97);
}
.img-light{
    display: block;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 100%;
}
.img-dark{
    display: none;
}


/* media */




@media (max-width:768px){
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #ffa688;
        font-family: Arial, sans-serif;
        transition: all 0.3s;
        gap: 35px;
        flex-warp: warp ;
    }

    .pruduct{
        display: flex;
        align-items: center;
        background-color: #e3e2e2;
        justify-content: center;
        padding: 13px;
        flex-direction: column;
        gap: 10px;
        border-radius: 30px;
        transition: all 0.3s;
        /* de */
        width:10%;
        min-width:130px;
        flex: 0 0 auto ;

    }
    .pruduct:hover{
        transform: translateY(-7px);
        box-shadow: 0 5px 25px rgba(78, 78, 78, 0.9);
    }
    .pruduct img{
        width: 100%;
        height: auto;
        max-height:170px;
        object-fit:cover;
        box-shadow: 0 5px 20px rgba(60, 118, 233, 0.9);
        border-radius: 5%;
        
    }
    .pruduct h3{
        margin: 0;
        color: rgb(0, 0, 0);

    }
    .pruduct .stock{
        color: red;
        margin: 0;
        font-size: 20px;
        text-decoration: line-through;
        
    }
    .pruduct .kkhat {
        color: red;
        font-size: 20px;
        text-decoration: underline;

    }

    .pruduct .sad{
        font-size: 19px;
        margin: 0;
        color: black;

    }

    .pruduct button {
        background-color: steelblue;
        color: white;
        padding: 12px 25px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        transition: all 0.3s ease;
        box-shadow: 0 5px 20px rgba(64, 100, 219, 0.9);
    }

    .pruduct button:hover {
        background-color: tomato;
        transform: translateY(-6px) scale(1.1) translateZ(10px);
        box-shadow: 0 5px 20px rgba(174, 50, 50, 0.9);
    }

    .pruduct button:active {
        background-color: crimson;
        transform: translateY(6px) scale(0.9);
        box-shadow: none;
    }
    .light-cont {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 999;
        background-color:transparent;
        transition: all 0.3s;
        width: 110px;
        height: 110px;

    }
    .light-button {
        background-color: rgb(160, 160, 160);
        padding: 50px 50px;
        font-size: 24px;
        border-radius: 100%;
        transition: all 0.3;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .light-button:hover{
        transition: all 0.3s ;
        transform: translateY(-5px) scale(1.03);
    }
    .light-button:active{
        transition: all 0.3s;
        background-color: rgb(80, 80, 80);
        transform: translateY(5px) scale(0.97);
    }
    .img-light{
        display: block;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 100%;
    }
    .img-dark{
        display: none;
    }
    .input-cont{
    width: 10px;
    height: 20px;
    }

    .light-cont {
        width: 50px;
        height: 50px;
        bottom: 10px;
        left: 10px;
    }

    .light-button {
        width: 10px;
        height: 10px;
        padding: 0;
    }

    .img-dark {
        width: 80px;
        height: 80px;
    }
}
